.header {
  display: flex;
  justify-content: left;
  background-color: rgb(48, 44, 44);
  list-style: none;
  width: 100%;
}
.headerItem {
  font-weight: 700;
  padding: 10px 20px;
}
.headerLink {
  color: rgb(160, 98, 69);
  text-decoration: none;
  font-size: 28px;
}
