.app {
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}

.wrapHeader {
  background-color: rgb(146, 49, 49);
  display: flex;
  justify-content: center;
}
.wrapMain {
  background-color: transparent;
  color: rgb(80, 110, 85);
}
.wrapFooter {
  background-color: black;
  color: rgb(177, 174, 174);
  text-align: center;
}
