$color-white: #fff;
$color-pink: #f38181;
$color-yellow: #fce38a;
$color-azure: #95e1d3;
$color-gray: rgb(153, 153, 153);

$monserat: "Montserrat", sans-serif;
$kaushan: "Kaushan Script", sans-serif;
$roboto: "Roboto", sans-serif;
